<a href="https://colab.research.google.com/github/Park-MinJe/MLyahak/blob/main/practice3_boston.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 라이브러리 사용
import tensorflow as tf
import pandas as ps

In [8]:
# 1. 과거의 데이터를 준비합니다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
데이터 = ps.read_csv(파일경로)
데이터.head()

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [9]:
# 칼럼 이름 출력
print(데이터.columns)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

In [10]:
# 독립, 종속 변수
독립 = 데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 데이터[['medv']]
print(독립.shape, 종속.shape)

(506, 13) (506, 1)

In [13]:
# 2. 모델의 구조를 만듭니다.
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [21]:
# 3. 데이터로 모델을 학습(FIT)합니다.
model.fit(독립, 종속, epochs=10)
#model.fit(독립, 종속, epochs=2000, verbose=0)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.2668
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 23.1645
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8323
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 24.0779
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6703
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.1361
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 23.8685
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 23.5912
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 23.6542
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 23.9073

In [25]:
# 4. 모델을 이용합니다.
model.predict(독립[5:10])

array([[25.671011],
       [22.28093 ],
       [19.312763],
       [11.177437],
       [18.649143]], dtype=float32)

In [26]:
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [27]:
print(model.get_weights())

[array([[-0.09298046],
       [ 0.04867201],
       [-0.01837602],
       [ 2.6386516 ],
       [-2.8848124 ],
       [ 5.2238894 ],
       [-0.00972614],
       [-1.0816609 ],
       [ 0.20433952],
       [-0.01053524],
       [-0.5335403 ],
       [ 0.01342557],
       [-0.46241635]], dtype=float32), array([9.3945675], dtype=float32)]